
<div class="modal fade" id="pagesHelpModal" tabindex="-1" role="dialog" aria-labelledby="pagesHelpModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title" id="pagesHelpModalTitle">Número de pàgines</h4>
            </div>
            <div class="modal-body text-center">
                Afegeix el total de pàgines que tindrà el teu projecte.
                <br> El cost per pàgina és de <b>30 €.</b>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="languageHelpModal" tabindex="-1" role="dialog" aria-labelledby="languageHelpModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title" id="languageHelpModalTitle">Número de llenguatges</h4>
            </div>
            <div class="modal-body text-center">
                Afegeix els llenguatges que tindrà el teu projecte.
                <br> El cost de cada llenguatge és de <b>30 €.</b>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SubmitBudgetModal" tabindex="-1" role="dialog" aria-labelledby="SubmitBudgetModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title" id="SubmitBudgetModalTitle">Registre</h4>
            </div>
            <div class="modal-body text-center">
                El seu pressupost s'ha registrat correctament.
            </div>
        </div>
    </div>
</div>
