
<h3>Pressupostos en curs:</h3>


<form [formGroup]="formSearch">
    <header class="d-flex flex-wrap justify-content-end">
        <ul class="nav align-items-center">
            
                <a class="btn btn-nav-custom px-2 link-secondary col-12 col-md-auto">

                    @if(activeSearch){
                        <div class="search-input position-relative">
                            <input type="search" class="form-control form-control-sm ps-5" formControlName="search-name">
                            <i class="bi bi-search position-absolute top-50 translate-middle-y search-icon" (click)="changeIconSearch()"></i>
                        </div>
                    }@else{
                        <i class="bi bi-search" (click)="changeIconSearch()"></i>
                    }
                </a>
            
            <li>
                <a class="btn btn-nav-custom px-2 link-secondary" [ngClass]="{'active': activeLink === 'date'}"  (click)="sortByDate()">Data</a>
                @if(activeLink === 'date'){
                    @if(sortByDateAsc){
                        <i class="bi bi-caret-down-fill"></i>
                    }@else{
                        <i class="bi bi-caret-up-fill"></i>
                    }
                }
            </li>
            <li>
                <a class="btn btn-nav-custom px-2 link-secondary" [ngClass]="{'active': activeLink === 'totalBudget'}" (click)="sortByTotalBudget()">Import</a>
                @if(activeLink === 'totalBudget'){
                    @if(sortByTotalBudgetAsc){
                        <i class="bi bi-caret-down-fill"></i>
                    }@else{
                        <i class="bi bi-caret-up-fill"></i>
                    }
                }
            </li>
            <li>
                <a class="btn btn-nav-custom px-2 link-secondary" [ngClass]="{'active': activeLink === 'name'}" (click)="sortByName()">Nom</a>
                @if(activeLink === 'name'){
                    @if(sortByNameAsc){
                        <i class="bi bi-caret-down-fill"></i>
                    }@else{
                        <i class="bi bi-caret-up-fill"></i>
                    }
                }
            </li>
        </ul>
    </header>
</form>


@if(budgetClients.length>0) {

    @for(client of budgetClients; track $index){

        <div class="card m-3 shadow">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-3 m-1">
                        <h4 class="card-title">{{budgetClients[$index].name}}</h4>
                        <p class="card-text">
                            {{budgetClients[$index].date.toLocaleString('es-ES', {hour12: false})}}<br>
                            {{budgetClients[$index].email}}<br>
                            {{budgetClients[$index].phone}}
                            
                        </p>
                    </div>
                    <div class="col-md-4 m-1">
                        <div class="card-text">
                            <b>Serveis contractats:</b>
                            <ul>
                                @if(budgetClients[$index].hiredServices.seo){<li>SEO</li>}
                                @if(budgetClients[$index].hiredServices.ads){<li>Ads</li>}
                                @if(budgetClients[$index].hiredServices.web){
                                    <li>Web 
                                        ({{budgetClients[$index].hiredServices.pages}} pàgines, 
                                        {{budgetClients[$index].hiredServices.languages}} llenguatges)</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 m-1">
                        <p class="card-text">
                            <b>Total:</b><br>
                            <span class="display-5"><b>{{budgetClients[$index].hiredServices.totalBudget}}</b></span><span>€</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    }

}@else{

    <p class="my-3">No hi ha dades que mostrar.</p>

}
<br><br>
