.btn-nav-custom {
    border: 0;

    &:hover {
        color: #0e53de !important;
    }
}

.btn-nav-custom.active {
    font-weight: bold;
    color: #0e53de !important; 
  }

.search-icon {
    right: 15px;
 }
  
